<!--
<nav class="navbar navbar-default">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Stop Food Waste</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/user/login" class="">Login</a></li>
        <li><a href="/user/signup" class="">Sign Up</a></li>
        
      </ul>
    </div>
  </div>
</nav> 
-->


<nav class="navbar navbar" id="nav_bar">
    <div class="container">
        <div class="navbar-header"><a class="navbar-brand navbar-link" href="/">Stop Food Waste</a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right nav-lists" id="nav-lists">
                <li role="presentation"><a href="#">Home </a></li>
                <li role="presentation"><a href="/user/cause">Cause </a></li>
                <li role="presentation"><a href="http://www.anu321.blogspot.com" target="_blank">Blog </a></li>
                <li role="presentation"><a href="/user/contact">Contact </a></li>
                <li role="presentation"><a href="/user/login">Login </a></li>
                <li role="presentation"><a href="/user/signup">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>