<!DOCTYPE html>
<html lang="en">
<%- include ../partials/index_header.ejs %>

<body>
<%- include ../partials/nav.ejs %>
   
<div class="jumbotron" id="jumbo" style="margin-bottom:20px">
    <h3 id="donate"><i class="fa fa-rocket" aria-hidden="true"></i>Our Cause</h3>
</div> 
  
<div class="container" style="margin-bottom: 70px;">
   <div class="row">
          <div class="col-md-12">
                <h2 class="text-uppercase text-center">Why We Do This</h2>
                <div class="row divider"></div>
          </div>
          
          <div class="col-md-12" id="fact-div">
            <p class="">INDIANS waste as much food as the whole of United Kingdom consumes – a statistic that may not so much indicative of our love of surfeit, as it is of our population. Still, food wastage is an alarming issue in India. Our street and garbage
                bins, landfills have sufficient proof to prove it.Weddings, canteens, hotels, social and family functions, households spew out so much food.&nbsp; According to the United Nations Development Programme, up to 40% of the food produced
                in India is wasted. About 21 million tonnes of wheat are wasted in India and 50% of all food across the world meets the same fate and never reaches the needy. In fact, according to the agriculture ministry, Rs. 50,000 crore worth of
                food produced is wasted every year in the country. </p>
          </div>
          
          <div class="col-md-12" id="cause">
             <h2>We focus on:</h2>
              <ul>
                  <li>Avoiding food waste along with preventing many hunger deaths as food waste is one of the terrible things happening all around the globe.</li>
                  
                  <li>As people usually feel less guilty for wasting food, we tend to prevent it from the roots and changing the bias of thinking towards it as well as offering the helping hands for the needy!</li>
              </ul>
          </div>
    </div>
   
   
    <div class="row" id="contactRow">
            
       
   </div>
</div>
   

<%- include ../partials/footer.ejs %>     
    
</body>
</html>