<!DOCTYPE html>
<html lang="en">
<%- include ../partials/header.ejs %>
<body>
<%- include ../partials/nav.ejs %>
   
   <div class="container">
       <div class="row">
     <form action="/user/signup" method="post">

         <div class="row form-group">
              <div class="col-sm-12">
                  <input type="text" name="name" id="fullname" class="form-control" placeholder="Organization's Name">
              </div>
          </div>

          <div class="row form-group">
              <div class="col-sm-12">
                  <input type="text" name="email" id="email" class="form-control" placeholder="Organization's Email">
              </div>
          </div>

          <div class="row form-group">
              <div class="col-sm-12">
                  <input type="password" name="password" id="password" class="form-control" placeholder="Password">
              </div>
          </div>

          <div class="row form-group">
              <div class="col-sm-12">
                  <input type="password" name="cpassword" id="cpassword" class="form-control" placeholder="Confirm Password">
              </div>
          </div>

          <div class="row form-group">
              <div class="col-sm-12">
                  <input type="submit" name="submit" id="sign_up" class="form-control btn btn-primary" value="SIGN UP">
              </div>
          </div>

     </form>
 </div>
</div>
   </div>
     
<%- include ../partials/footer.ejs %>  
</body>
</html>




 
         